version: '3.8'

services:
  app:
    build: .
    ports:
      - "8009:8000"
    volumes:
      - app_storage:/var/www/storage
    environment:
      - APP_KEY=base64:h0cq6MtBD8Co6TuE6hTWBtuh/SOKO3DDefjymO48sH8=
      - APP_ENV=local
      - APP_DEBUG=true
      - DB_CONNECTION=mysql
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_DATABASE=okr_project
      - DB_USERNAME=okr_user
      - DB_PASSWORD=okr_password
      - CACHE_STORE=file
      - SESSION_DRIVER=file
      - AWS_ACCESS_KEY_ID=dummy_key
      - AWS_SECRET_ACCESS_KEY=dummy_secret
    depends_on:
      mysql:
        condition: service_healthy

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: okr_project
      MYSQL_USER: okr_user
      MYSQL_PASSWORD: okr_password
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

volumes:
  mysql_data:
  app_storage: